
<header>
    <nav>
        <a id="logo" href="/">Sneak</a>
        <ul>
            <li><a href="/collections">Collection</a></li>
            <li><a href="/shop">Shop</a></li>
            
            <li><a href="/about">About</a></li>
        </ul>
        <a id="register" href="/signup">Register</a>
        <a id="login" href="/login">LOGIN</a>
    </nav>
</header>