<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %> 

<body>

    <%- include('./partials/nav.ejs') %> 
    <main id="header">

        <div id="content">
           <h2>Sneakers</h2>
                <h2>Convinent and easy to wear </h2>
                <br>

                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit.<br> 
                    Aspernatur saepe repudiandae 
                    <br><button type="submit">Shop here</button>
                    </p>   
               
            </div>           
        <div id="image">
            <img src="/images/pic3.jpg" alt="pic" >
        </div>
   
   

        
    </main>
    
    <section id="items">
        <div>
            <h2>Best Selling Products</h2>
            <ul>
                <li><a href="#">Addidas</a></li>
                <li><a href="#">Nike</a></li>
                <li><a href="#">Puma</a></li>
                <li><a href="#">New Balance</a></li>
            </ul>
        </div>

        <main>
            <div id="cards">
                <div id="card">
                    <img src="/images/pic8.jpg" alt="image">
                    <div id="contentss">
                        <h2>Jordan</h2>
                        <p>Air jordan 1 Retro high</p>
                        <p>$89.99</p>
                    </div>
                   
                </div>

                <div id="card">
                    <img src="/images/pic6.jpg" alt="image">
                    <div id="contentss">
                        <h2>Jordan</h2>
                        <p>Air jordan 1 Retro high</p>
                        <p>$89.99</p>
                    </div>
                    
                </div>

                <div id="card">
                    <img src="/images/pic4.jpg" alt="image">
                    <div id="contentss">
                        <h2>Jordan</h2>
                    <p>Air jordan 1 Retro high</p>
                    <p>$89.99</p>
                    </div>
                    
                </div>

                <div id="card">
                    <img src="/images/pic5.jpg" alt="image">
                    <div id="contentss">
                        <h2>Jordan</h2>
                        <p>Air jordan 1 Retro high</p>
                        <p>$89.99</p>
                    </div>
                    
                </div>
            </div>

            <button type="submit">See more products</button>
        </main>

    </section>

    <section id="middle-body">
        <div id="middle">
            <h2>Get the voucher discount <br> up to 40%
                <br>
                <button type="submit">Get Now</button>
            </h2> 
            
            

            <div id="middle-image">
                <img src="/images/img3.jpg" alt="pic">
            </div>
        </div>
        
           
     
    </section>

    <section>
        <div>
            <p>Transaction at Sneak are very easy and 
                <br> satisfying good product quality</p>
        </div> 
    </section>


    <section id="middle-body">
        <div id="middle">
            <h2>Get the voucher discount <br> up to 40%
                <br>
                <button type="submit">Get Now</button>
            </h2> 
            
            

            <div id="middle-image">
                <img src="/images/img3.jpg" alt="pic">
            </div>
        </div>
        
           
     
    </section>

    <section>
        <div>
            <p>Transaction at Sneak are very easy and 
                <br> satisfying good product quality</p>
        </div> 
    </section>



    <section id="middle-body">
        <div id="middle">
            <h2>Get the voucher discount <br> up to 40%
                <br>
                <button type="submit">Get Now</button>
            </h2> 
            
            

            <div id="middle-image">
                <img src="/images/img3.jpg" alt="pic">
            </div>
        </div>
        
           
     
    </section>






    
</body>
</html>